<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.driver.dao.DriverDao">

    <!-- 查询司机负责门店信息 -->
    <select id="findStore" parameterType="java.lang.String" resultType="com.xzsd.app.driver.entity.StoreInfo">
        select
            ss.store_code storeId,
            ss.store_name storeName,
            concat_ws('',sp.dic_name,sc.dic_name,sy.dic_name,ss.store_address) storeAddress,
            mu.user_name managerName,
            mu.phone managerPhone
        from t_sys_user su
        left join t_sys_driver sd on su.user_code = sd.user_code
        left join t_sys_store ss on ss.county_code = sd.county_code
        left join t_sys_user mu on mu.user_code = ss.user_code
        left join t_sys_dictionary sp on sp.dic_code = ss.province_code
        left join t_sys_dictionary sc on sc.dic_code = ss.city_code
        left join t_sys_dictionary sy on sy.dic_code = ss.county_code
        where su.user_code = #{userId}
    </select>
</mapper>