<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.goods.dao.GoodsDao">

    <!-- 查询商品详情 -->
    <select id="findGoodsById" parameterType="java.lang.String" resultType="com.xzsd.app.goods.entity.GoodsVO">
        select
            goods_name goodsName,
            book_code bookId,
            goods_image goodsUrl,
            goods_price goodsPrice,
            sales_num goodsSales,
            goods_views goodsViews,
            inventory,
            advertise,
            introduce,
            author,
            press
        from t_sys_goods
        where is_deleted = 0
        and goods_code = #{goodsId}
    </select>

    <!-- 查询商品评价列表 -->
    <resultMap id="listEvaluateMap" type="com.xzsd.app.goods.entity.EvaluateVO">
        <id column="evaluate_code" property="evaluateId"/>
        <result column="user_acct" property="userAcct"/>
        <result column="star_level" property="evaluateStar"/>
        <result column="evaluate_text" property="evaluateText"/>
        <result column="create_time" property="evaluateTime"/>
        <collection property="imageList" ofType="com.xzsd.app.goods.entity.ImageInfo">
            <id column="image_code"/>
            <result column="image_url" property="imageUrl"/>
        </collection>
    </resultMap>

    <select id="listGoodsEvaluateByPage" parameterType="com.xzsd.app.goods.entity.GoodsDO" resultMap="listEvaluateMap">
        select
            te.evaluate_code,
            te.star_level,
            te.evaluate_text,
            te.create_time,
            tu.user_acct,
            ti.image_url
        from t_goods_evaluate te
        left join t_evaluate_image ti on te.evaluate_code = ti.evaluate_code
        left join t_sys_user tu on te.user_code = tu.user_code
        where te.is_deleted = 0
        and te.goods_code = #{goodsId}
        <if test='evaluateType == "5"'>
            and te.star_level &gt; 3
        </if>
        <if test='evaluateType == "3"'>
            and te.star_level = 3
        </if>
        <if test='evaluateType == "1"'>
            and te.star_level &lt; 3
        </if>
        order by te.create_time desc,
            ti.image_no asc
    </select>

    <!-- 查询商品一级分类列表 -->
    <select id="listClassifyOne" resultType="com.xzsd.app.goods.entity.ClassifyVO">
        select
            class_code classOneId,
            class_name classOneName
        from t_goods_classify
        where is_deleted = 0
        and parent_code = 0
        order by create_time desc
    </select>
    
    <!-- 查询商品二级分类列表 -->
    <resultMap id="classifyTwoMap" type="com.xzsd.app.goods.entity.ClassifyVO">
        <id column="class_code" property="classTwoId"/>
        <result column="class_name" property="classTwoName"/>
        <collection property="goodsList" ofType="com.xzsd.app.goods.entity.GoodsVO">
            <id column="goods_code" property="goodsId"/>
            <result column="goods_name" property="goodsName"/>
            <result column="goods_price" property="goodsPrice"/>
            <result column="goods_image" property="goodsUrl"/>
        </collection>
    </resultMap>

    <select id="listClassifyTwo" resultMap="classifyTwoMap">
        select
            tc.class_code,
            tc.class_name,
            tg.goods_code,
            tg.goods_name,
            tg.goods_price,
            tg.goods_image
        from t_goods_classify tc
        left join (select * from t_sys_goods where is_deleted = 0 and state = 1) tg
            on tc.class_code = tg.class_two_code
        where tc.is_deleted = 0
        and parent_code = #{classOneId}
        order by tc.create_time desc,
            tg.create_time desc
    </select>
</mapper>