<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.homepage.dao.HomePageDao">
    <!-- 查询首页轮播图列表 -->
    <select id="listBanner" resultType="com.xzsd.app.homepage.entity.HomePageInfo">
        select
            banner_code bannerId,
            banner_url bannerUrl,
            goods_code goodsId
        from t_sys_banner
        where state = 1
        and start_time &lt;= DATE_FORMAT(now(),'%Y-%m-%d')
        and end_time &gt;= DATE_FORMAT(now(),'%Y-%m-%d')
        and is_deleted = 0
        order by banner_no asc
    </select>

    <!-- 查询热门商品展示数量 -->
    <select id="findShowNumber" resultType="int">
        select
            dic_value
        from t_sys_dictionary
        where is_deleted = 0
        and dic_code = '202004141833'
    </select>

    <!-- 查询首页热门商品列表 -->
    <select id="listHostGoods" resultType="com.xzsd.app.homepage.entity.HomePageInfo">
        select
            th.host_code hostGoodsId,
            th.goods_code goodsId,
            tg.goods_name goodsName,
            tg.goods_price goodsPrice,
            tg.goods_image goodsUrl
        from t_goods_host th
        left join t_sys_goods tg on th.goods_code = tg.goods_code
        where th.is_deleted = 0
        and tg.is_deleted = 0
        order by th.host_no asc
        limit #{showNumber}
    </select>
</mapper>