<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.user.dao.UserDao">
    <!-- 查询用户信息 -->
    <select id="findUserInformation" parameterType="java.lang.String" resultType="com.xzsd.app.user.entity.UserVO">
        select
            user_code userId,
            user_name userName,
            user_image_url userImage,
            phone userPhone,
            role,
            version
        from t_sys_user
        where
            is_deleted = 0
        and
            user_code = #{userId}
    </select>

    <!-- 查询原密码及角色信息 -->
    <select id="findUserPassword" parameterType="java.lang.String" resultType="com.xzsd.app.user.entity.UserDO">
        select
            user_pwd oldPassword,
            role
        from t_sys_user
        where
            is_deleted = 0
        and
            user_code = #{userId}
    </select>

    <!-- 修改用户密码 -->
    <update id="updatePassword" parameterType="com.xzsd.app.user.entity.UserDO">
        update t_sys_user
        set user_pwd = #{newPassword},
            modify_by = #{userId},
            modify_time = now(),
            version = version+1
        where is_deleted = 0
        and user_code = #{userId}
        <if test="role == 2 or role == 3">
            and version = #{version}
        </if>
    </update>
</mapper>