<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.driver.dao.DriverDao">
    <!--统计用户账号数-->
    <select id="countUserAcct" parameterType="com.xzsd.pc.driver.entity.DriverDO" resultType="int">
        select count(user_acct)
        from t_sys_user
        where is_deleted = 0
        and user_acct = #{driverAcct}
    </select>

    <!-- 新增司机用户（用户表） -->
    <insert id="addDriver" parameterType="com.xzsd.pc.driver.entity.DriverDO">
        insert into t_sys_user
            (user_code,
             user_name,
             user_acct,
             user_pwd,
             user_image_url,
             id_card,
             phone,
             role,
             is_deleted,
             create_time,
             create_by,
             modify_time,
             modify_by,
             version)
        values
           (#{userId},
            #{driverName},
            #{driverAcct},
            #{driverPwd},
            #{driverImage},
            #{idCard},
            #{phone},
            3,
            #{isDeleted},
            now(),
            #{createBy},
            now(),
            #{ModifyBy},
            0)
    </insert>
    <!-- 新增司机信息（司机表） -->
    <insert id="saveDriverInfo" parameterType="com.xzsd.pc.driver.entity.DriverDO">
        insert into t_sys_driver
            (driver_code,
             user_code,
             province_code,
             city_code,
             county_code,
             is_deleted,
             create_time,
             create_by,
             modify_time,
             modify_by,
             version)
        values
           (#{driverId},
            #{userId},
            #{provinceId},
            #{cityId},
            #{countyId},
            #{isDeleted},
            now(),
            #{createBy},
            now(),
            #{ModifyBy},
            0)
    </insert>

    <!-- 删除司机信息 -->
    <update id="deleteDriver">
        update t_sys_user tu
        left join t_sys_driver td on tu.user_code = td.user_code
        set
            tu.is_deleted = 1,
            tu.modify_time = now(),
            tu.modify_by = #{userId},
            tu.version = tu.version+1,
            td.is_deleted = 1,
            td.modify_time = now(),
            td.modify_by = #{userId},
            td.version = td.version+1
        where tu.user_code in
        <foreach item="item" index="index" collection="listId" open="(" separator="," close=")">
            #{item}
        </foreach>
        and role = 3
    </update>

    <!-- 修改司机信息 -->
    <update id="updateDriverById" parameterType="com.xzsd.pc.driver.entity.DriverDO">
        update t_sys_user tu
        left join t_sys_driver td on tu.user_code = td.user_code
        set
        <if test="driverName != null and driverName != ''">
            tu.user_name = #{driverName},
        </if>
        <if test="driverAcct != null and driverAcct != ''">
            tu.user_acct = #{driverAcct},
        </if>
        <if test="driverPwd != null and driverPwd != ''">
            tu.user_pwd = #{driverPwd},
        </if>
        <if test="driverImage != null and driverImage != ''">
            tu.user_image_url = #{driverImage},
        </if>
        <if test="phone != null and phone != ''">
            tu.phone = #{phone},
        </if>
        <if test="idCard != null and idCard != ''">
            tu.id_card = #{idCard},
        </if>
        <if test="provinceId != null and provinceId != ''">
            td.province_code = #{provinceId},
        </if>
        <if test="cityId != null and cityId != ''">
            td.city_code = #{cityId},
        </if>
        <if test="countyId != null and countyId != ''">
            td.county_code = #{countyId},
        </if>
            tu.modify_by = #{modifyBy},
            tu.modify_time = now(),
            tu.version = tu.version + 1,
            td.modify_by = #{modifyBy},
            td.modify_time = now(),
            td.version = td.version + 1
        where tu.is_deleted = 0
        and tu.version = #{version}
        and tu.user_code = #{driverId}
    </update>
    
    <!-- 查询司机信息列表 -->
    <select id="listDriverByPage" parameterType="com.xzsd.pc.driver.entity.DriverDO" resultType="com.xzsd.pc.driver.entity.DriverVO">
        select
            tu.user_code driverId,
            tu.user_acct driverAcct,
            tu.user_name driverName,
            tu.phone phone,
            tu.id_card idCard,
            tu.version version
        from t_sys_user tu
        left join t_sys_driver td on tu.user_code = td.user_code
        left join (select * from t_sys_store where is_deleted = 0) ts 
                on td.store_code = ts.store_code 
        where tu.is_deleted = 0
        and td.is_deleted = 0
        <if test="driverId != null and driverId != ''">
            and tu.user_code = #{driverId}
        </if>
        <if test="driverAcct != null and driverAcct != ''">
            and tu.user_acct like concat('%', #{driverAcct}, '%')
        </if>
        <if test="provinceId != null and provinceId != ''">
            and td.province_code = #{provinceId}
        </if>
        <if test="cityId != null and cityId != ''">
            and td.city_code = #{cityId}
        </if>
        <if test="countyId != null and countyId != ''">
            and td.county_code = #{countyId}
        </if>
        <if test="role == 2">
            and ts.user_code = #{userId}
        </if>
        order by tu.create_time desc
    </select>
    
    <!-- 查询司机信息详情 -->
    <select id="findDriverById" parameterType="com.xzsd.pc.driver.entity.DriverDO" resultType="com.xzsd.pc.driver.entity.DriverVO">
        select
            tu.user_code driverId,
            tu.user_name driverName,
            tu.user_acct driverAcct,
            tu.user_pwd driverPwd,
            tu.phone phone,
            tu.id_card idCard,
            tp.dic_code provinceId,
            tp.dic_name provinceName,
            tc.dic_code cityId,
            tc.dic_name cityName,
            ty.dic_code countyId,
            ty.dic_name countyName,
            tu.version version
        from t_sys_user tu
        left join t_sys_driver td on tu.user_code = td.user_code
        left join t_sys_dictionary tp on td.province_code = tp.dic_code
        left join t_sys_dictionary tc on td.city_code = tc.dic_code
        left join t_sys_dictionary ty on td.county_code = ty.dic_code
        where
            tu.is_deleted = 0
        and tu.user_code = #{driverId}
    </select>
</mapper>