<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.goods.dao.GoodsDao">

    <!--新增商品-->
    <insert id="addGoods" parameterType="com.xzsd.pc.goods.entity.GoodsDO">
        insert into t_sys_goods
        (goods_code,
         goods_name,
         goods_price,
         goods_cost,
         goods_image,
         sales_num,
         inventory,
         class_one_code,
         class_two_code,
         advertise,
         introduce,
         state,
         putaway_time,
         goods_views,
         star_level,
         book_code,
         author,
         press,
         buyer_name,
         is_deleted,
         create_time,
         create_by,
         modify_time,
         modify_by,
         version)
        values
           (#{goodsId},
            #{goodsName},
            #{goodsPrice},
            #{goodsCost},
            #{goodsUrl},
            0,
            #{inventory},
            #{classOneId},
            #{classTwoId},
            #{advertise},
            #{introduce},
            0,
            #{putawayTime},
            0,
            0,
            #{bookId},
            #{author},
            #{press},
            #{buyerName},
            0,
            now(),
            #{createBy},
            now(),
            #{ModifyBy},
            0)
    </insert>

    <!-- 删除商品 -->
    <update id="deleteGoods" parameterType="com.xzsd.pc.goods.entity.GoodsDO">
        update t_sys_goods
        set
            is_deleted = 1,
            modify_by = #{userId},
            modify_time = #{modifyTime}
            version = version+1
        where
            goods_code in
        <foreach collection="listGoodsId" item="item" index="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <!-- 修改商品信息 -->
    <update id="updateGoodsById" parameterType="com.xzsd.pc.goods.entity.GoodsDO">
        update t_sys_goods
        set
        <if test="goodsName != null and goodsName != ''">
            goods_name = #{goodsName},
        </if>
        <if test="bookId != null and bookId != ''">
            book_code = #{bookId},
        </if>
        <if test="author != null and author != ''">
            author = #{author},
        </if>
        <if test="press != null and press != ''">
            press = #{press},
        </if>
        <if test="classOneId != null and classOneId != ''">
            class_one_code = #{classOneId},
        </if>
        <if test="classTwoId != null and classTwoId != ''">
            class_two_code = #{classTwoId},
        </if>
        <if test="advertise != null and advertise != ''">
            advertise = #{advertise},
        </if>
        <if test="introduce != null and introduce != ''">
            introduce = #{introduce},
        </if>
        <if test="buyerName != null and buyerName != ''">
            buyer_name = #{buyerName},
        </if>
        <if test="inventory != null and inventory != ''">
            inventory = #{inventory},
        </if>
        <if test="goodsCost != null and goodsCost != ''">
            goods_cost = #{goodsCost},
        </if>
        <if test="goodsPrice != null and goodsPrice != ''">
            goods_price = #{goodsPrice},
        </if>
        <if test="goodsUrl != null and goodsUrl != ''">
            goods_image = #{goodsUrl},
        </if>
            modify_by = #{ModifyBy},
            modify_time = now(),
            version = version + 1
        where
            goods_code = #{goodsId}
        and
            version = #{version}
    </update>

    <!-- 修改商品状态 -->
    <update id="updateStateById" parameterType="com.xzsd.pc.goods.entity.GoodsDO">
        update t_sys_goods
        set
            state = #{goodsState},
            modify_by = #{modifyBy},
            modify_time = now(),
            version = version + 1
        where
            goods_code = #{goodsId}
        and is_deleted = 0
        and version = #{version}
    </update>

    <!-- 查询商品详情 -->
    <select id="findGoodsById" parameterType="java.lang.String" resultType="com.xzsd.pc.goods.entity.GoodsVO">
        select
            tg.goods_code goodsId,
            tg.goods_name goodsName,
            tg.goods_price goodsPrice,
            tg.sales_num salesNum,
            tg.inventory,
            tg.class_one_code classOneId,
            tc1.class_Name classOneName,
            tg.class_one_code classTwoId,
            tc2.class_Name classTwoName,
            tg.advertise,
            tg.introduce,
            tg.state goodsState,
            tg.putaway_time putawayTime,
            tg.goods_views goodsViews,
            tg.book_code bookId
        from
            t_sys_goods tg
            left join t_goods_classify tc1 on tg.class_one_code = tc1.class_code
            left join t_goods_classify tc2 on tg.class_two_code = tc2.class_code
        where
            is_deleted = 0
        and
            tg.goods_code = #{goodsId}
    </select>

    <!-- 查询商品列表 -->
    <select id="listGoodsByPage" parameterType="com.xzsd.pc.goods.entity.GoodsDO" resultType="com.xzsd.pc.goods.entity.GoodsVO">
        SELECT
            tg.goods_code goodsId,
            tg.goods_name goodsName,
            tg.goods_price goodsPrice,
            tg.sales_num salesNum,
            tg.inventory,
            tc1.class_Name classOneName,
            tc2.class_Name classTwoName,
            tg.advertise,
            tg.introduce,
            tg.state goodsState,
            tg.putaway_time putawayTime,
            tg.goods_views goodsViews,
            tg.book_code bookId,
            tg.version
        FROM
            t_sys_goods tg
        LEFT JOIN t_goods_classify tc1 ON tg.class_one_code = tc1.class_code
        LEFT JOIN t_goods_classify tc2 ON tg.class_two_code = tc2.class_code
        WHERE
            is_deleted = 0
        <if test="goodsName != null and goodsName != ''">
            and tg.goods_name like concat('%', #{goodsName}, '%')
        </if>
        <if test="goodsState != null and goodsState != ''">
            and tg.state like concat('%', #{goodsState}, '%')
        </if>
        <if test="advertise != null and advertise != ''">
            and tg.advertise like concat('%', #{advertise}, '%')
        </if>
        <if test="press != null and press != ''">
            and tg.press like concat('%', #{press}, '%')
        </if>
        <if test="author != null and author != ''">
            and tg.author like concat('%', #{author}, '%')
        </if>
        order by tg.create_time desc
    </select>

    <!--查询商品分类-->
    <select id="listClassify" parameterType="java.lang.String" resultType="com.xzsd.pc.goods.entity.ClassifyVO">
        select
          class_code classifyId,
          class_name classifyName
        from t_goods_classify
        where
          parent_code = #{classId}
        and is_delete = 0
        order by class_code desc
    </select>
</mapper>