<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.hostgoods.dao.HostGoodsDao">

    <!-- 统计相同排序数量 -->
    <select id="countHostGoodsNO" parameterType="int" resultType="int">
        select count(host_code)
        from t_goods_host
        where
            is_deleted = 0
        and host_no = #{hostGoodsNO}
    </select>

    <!-- 统计相同商品数量 -->
    <select id="countGoodsId" parameterType="java.lang.String" resultType="int">
        select count(host_code)
        from t_goods_host
        where
            is_deleted = 0
        and goods_code = #{goodsId}
    </select>

    <!-- 新增热门商品 -->
    <insert id="addHostGoods" parameterType="com.xzsd.pc.hostgoods.entity.HostGoodsDO">
        insert into t_goods_host
            (host_code,
             goods_code,
             host_no,
             star_level,
             is_deleted,
             create_time,
             create_by,
             modify_time,
             modify_by,
             version)
        values
            (#{hostGoodsId},
             #{goodsId},
             #{hostGoodsNO},
             0,
             0,
             now(),
             #{createBy},
             now(),
             #{ModifyBy},
             0)
    </insert>

    <!-- 删除热门商品 -->
    <update id="deleteHostGoods">
        update t_goods_host
        set is_deleted = 1
            modify_time = now(),
            modify_by = #{userId},
            version = version+1
        where host_code in
        <foreach item="item" index="index" collection="listId" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <!-- 修改热门商品排序 -->
    <update id="updateHostGoodsById" parameterType="com.xzsd.pc.hostgoods.entity.HostGoodsDO">
        update t_goods_host
        set goods_code = #{goodsId},
            host_no = #{hostGoodsNO},
            modify_time = now(),
            modify_by = #{modifyBy},
            version = version+1
        where host_code = #{hostGoodsId}
        and version = #{version}
    </update>

    <!-- 查询热门商品列表 -->
    <select id="listHostGoodsByPage" parameterType="com.xzsd.pc.hostgoods.entity.HostGoodsDO" resultType="com.xzsd.pc.hostgoods.entity.HostGoodsVO">
        select
            host_code hostGoodsId,
            host_no hostGoodsNO,
            hg.goods_code goodsId,
            goods_name goodsName,
            goods_price goodsPrice,
            introduce,
            hg.version version
        from t_goods_host hg
        left join t_sys_goods sg on hg.goods_code = sg.goods_code
        where hg.is_deleted = 0
        and sg.is_deleted = 0
        and hg.version = #{version}
        <if test="goodsId != null and goodsId != ''">
            and hg.goods_code like concat('%', #{goodsId}, '%')
        </if>
        <if test="goodsName != null and goodsName != ''">
            and goods_name like concat('%', #{goodsName}, '%')
        </if>
        order by host_no asc
    </select>

    <!-- 查询热门商品展示数量 -->
    <select id="findShowNumber" resultType="com.xzsd.pc.hostgoods.entity.HostGoodsVO">
        select
            dic_value showNumber,
            version
        from t_sys_dictionary
        where
            dic_code = '202004141833'
        and is_deleted = 0
    </select>

    <!-- 修改热门商品展示数量 -->
    <update id="updateShowNumber">
        update t_sys_dictionary
        set dic_value = #{showNumber},
            modify_by = #{userId},
            modify_time = now(),
            version = version+1
        where
            dic_code = '202004141833'
        and version = #{version}
    </update>
</mapper>