<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.menu.dao.MenuDao">
    <!-- 查找相同菜单数目 -->
    <select id="countMenuSame" parameterType="com.xzsd.pc.menu.entity.MenuDO" resultType="int">
        select count(1)
        from t_sys_menu
        where
            menu_name = #{menuName}
        and menu_url = #{menuUrl}
        and menu_level = #{menuLevel}
        and is_deleted = 0
    </select>

    <!-- 新增菜单 -->
    <insert id="addMenu" parameterType="com.xzsd.pc.menu.entity.MenuDO">
        insert into t_sys_menu
            (menu_code,
             menu_name,
             menu_url,
             remark,
             menu_level,
             access_level,
             is_menu,
             is_deleted,
             create_by,
             create_time,
             modify_by,
             modify_time,
             version)
        values
            (#{menuId},
             #{menuName},
             #{menuUrl},
             #{remark},
             1,
             #{accessLevel},
             1,
             0,
             #{createBy},
             now(),
             #{modifyBy},
             now(),
             0)
    </insert>

    <!-- 删除菜单 -->
    <update id="deleteMenu" parameterType="com.xzsd.pc.menu.entity.MenuDO">
        update t_sys_menu
        set
            is_deleted = 1,
            modify_by = #{userId},
            modify_time = now(),
            version = version+1
        where
            menu_code in
        <foreach collection="listMenuId" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <!-- 修改菜单信息 -->
    <update id="updateMenuById" parameterType="com.xzsd.pc.menu.entity.MenuDO">
        update t_sys_menu
        set
            menu_code = #{menuId},
            menu_name = #{menuName},
        <if test="remark != null and remark != ''">
            remark = #{remark},
        </if>
            version = version+1
        where
            version = #{version}
        and is_deleted = 0
    </update>

    <!-- 查询菜单集合 -->
    <select id="listMenu" resultType="com.xzsd.pc.menu.entity.MenuVO">
        select
            menu_code menuId,
            menu_name menuName,
            menu_url menuUrl,
            remark,
            version
        from t_sys_menu
        where
            is_deleted = 0
        order by create_time desc
    </select>

    <!-- 查询菜单详情 -->
    <select id="findMenuById" resultType="com.xzsd.pc.menu.entity.MenuVO">
        select
            menu_name menuName,
            menu_url menuUrl,
            remark
        from t_sys_menu
        where
            menu_code = #{menuId}
        and is_deleted = 0
    </select>
</mapper>
