<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.order.dao.OrderDao">
    <!-- 查询订单状态 -->
    <select id="countOrderState" resultType="int">
        select
            order_state
        from t_sys_order
        where order_code in
        <foreach item="item" index="index" collection="listId" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!-- 查询订单中商品数量 -->
    <select id="countOrderGoods" resultType="int">
        select
            count(goods_code)
        from t_order_detail
        where order_code in
        <foreach item="item" index="index" collection="listId" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!-- 修改订单信息 -->
    <update id="updateOrderById" parameterType="com.xzsd.pc.order.entity.OrderDO">
        update t_sys_order
        set
        <if test="orderState == 0">
            order_state = 5,
        </if>
        <if test="orderState == 1">
            order_state = 1,
        </if>
        <if test="orderState == 2">
            order_state = 0,
        </if>
        <if test="orderState == 3">
            order_state = 2,
        </if>
        <if test="orderState == 4">
            order_state = 1,
        </if>
            modify_time = now(),
            modify_by = #{userId},
            version = version+1
        where order_code in
        <foreach collection="versionMap" item="item" index="key" open="(" separator="," close=")">
            #{key}
        </foreach>
        and version =
        <foreach collection="versionMap" item="item" index="key" open="case order_code" separator=" " close="end">
            when #{key} then #{item}
        </foreach>
    </update>

    <!-- 更新商品库存(修改) -->
    <update id="updateInventory" parameterType="java.lang.String">
        update t_sys_goods sg
        left join t_order_detail sd on sg.goods_code = sd.goods_code
        set
            sg.inventory = sg.inventory + sd.goods_num,
            sg.modify_by = #{userId},
            sg.modify_time = now(),
            sg.version = sg.version + 1
        where sd.order_code in
        <foreach item="item" index="index" collection="listId" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <!-- 查询订单列表 -->
    <select id="listOrderByPage" parameterType="com.xzsd.pc.order.entity.OrderDO" resultType="com.xzsd.pc.order.entity.OrderVO">
        select
            so.order_code orderId,
            so.order_money orderMoney,
            so.order_state orderState,
            so.store_code storeId,
            so.buyer_code userId,
            su.user_name userName,
            su.phone userPhone,
            DATE_FORMAT(so.pay_time,'%Y-%m-%d %H:%i:%s') payTime
        from t_sys_order so
        left join t_sys_user su on so.buyer_code = su.user_code
        <if test="role == 2">
            left join t_sys_store ss on so.store_code = ss.store_code
        </if>
        where so.is_deleted = 0
        <if test="role == 2">
            and ss.user_code = #{managerId}
        </if>
        <if test="userName != null and userName != ''">
            and su.user_name like concat('%', #{userName}, '%')
        </if>
        <if test="userPhone != null and userPhone != ''">
            and su.phone = #{userPhone}
        </if>
        <if test=" orderState != null and orderState != ''">
            and so.order_state = #{state}
        </if>
        <if test="orderId != null and orderId != ''">
            and so.order_code = #{orderId}
        </if>
        <if test="payTimeStart != null and payTimeStart != '' and payTimeEnd == null and payTimeEnd == ''">
            and so.pay_time = #{payTimeStart}
        </if>
        <if test="payTimeEnd != null and payTimeEnd != '' and payTimeStart == null and payTimeStart == ''">
            and so.pay_time = #{payTimeEnd}
        </if>
        <if test="payTimeStart != null and payTimeStart != '' and payTimeEnd != null and payTimeEnd != ''">
            and DATE_FORMAT(so.pay_time,'%Y-%m-%d') &gt;= #{payTimeStart}
            and DATE_FORMAT(so.pay_time,'%Y-%m-%d') &lt;= #{payTimeEnd}
        </if>
        order by so.create_time desc
    </select>

    <!-- 查询订单详情 -->
    <select id="findOrderById" resultType="com.xzsd.pc.order.entity.OrderVO">
        select
            so.buyer_code userId,
            so.order_code orderId,
            tg.goods_name goodsName,
            od.goods_code goodsId,
            od.goods_num goodsNumber,
            od.goods_price goodsPrice,
            so.version version
        from t_sys_order so
        left join t_order_detail od on so.order_code = od.order_code
        left join t_sys_goods tg on od.goods_code = tg.goods_code
        where so.is_deleted = 0
        and od.is_deleted = 0
        and so.order_code = #{orderId}
        order by so.create_time desc,
            od.goods_code desc
    </select>
</mapper>