<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.store.dao.StoreDao">
    <!-- 查找店长编号是否存在 -->
    <select id="countManagerId" resultType="int">
        select count(user_code)
        from t_sys_user
        where user_code = #{userId}
        and role = 2
        and is_deleted = 0
    </select>

    <!-- 查询店长是否绑定门店 -->
    <select id="countIsStoreManager" resultType="int">
        select count(tu.user_code)
        from t_sys_user tu
        left join t_sys_store ts on tu.user_code = ts.user_code
        where tu.user_code = #{userId}
        and role = 2
        and tu.is_deleted = 0
        and ts.is_deleted = 0
    </select>

    <!-- 新增门店 -->
    <insert id="addStore" parameterType="com.xzsd.pc.store.entity.StoreDO">
        insert into t_sys_store
            (store_code,
             store_name,
             telephone,
             user_code,
             license_code,
             invite_code,
             province_code,
             city_code,
             county_code,
             store_address,
             is_deleted,
             create_time,
             create_by,
             modify_time,
             modify_by,
             version)
        values
            (#{storeId},
             #{storeName},
             #{storePhone},
             #{userId},
             #{licenseId},
             #{inviteCode},
             #{provinceId},
             #{cityId},
             #{countyId},
             #{detailAddress},
             #{isDeleted},
             now(),
             #{createBy},
             now(),
             #{ModifyBy},
             0)
    </insert>

    <!-- 删除门店 -->
    <update id="deleteStore">
        update t_store
        set is_deleted = 1
            modify_time = now(),
            modify_by = #{userId},
            version = version+1
        where store_code in
        <foreach item="item" index="index" collection="listId" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <!-- 修改门店信息 -->
    <update id="updateStoreById" parameterType="com.xzsd.pc.store.entity.StoreDO">
        update t_sys_store
        set
        <if test="storeName != null and storeName != ''">
            store_name = #{storeName},
        </if>
        <if test="storePhone != null and storePhone != ''">
            telephone = #{storePhone},
        </if>
        <if test="userId != null and userId != ''">
            user_code = #{userId},
        </if>
        <if test="licenseId != null and licenseId != ''">
            license_code = #{licenseId},
        </if>
        <if test="provinceId != null and provinceId != ''">
            province_code = #{provinceId},
        </if>
        <if test="cityId != null and cityId != ''">
            city_code = #{cityId},
        </if>
        <if test="countyId != null and countyId != ''">
            county_code = #{countyId},
        </if>
        <if test="detailAddress != null and detailAddress != ''">
            store_address = #{detailAddress},
        </if>
            modify_by = #{modifyBy},
            modify_time = now(),
            version = version + 1
        where
            store_code = #{storeId}
        and
            version = #{version}
    </update>

    <!-- 查询门店信息列表 -->
    <select id="listStoreByPage" parameterType="com.xzsd.pc.store.entity.StoreDO" resultType="com.xzsd.pc.store.entity.StoreVO">
        select
            ts.store_code storeId,
            ts.store_name storeName,
            ts.telephone storePhone,
            ts.store_address detailAddress,
            ts.invite_code inviteCode,
            tu.user_name userName,
            tu.user_acct userAcct,
            ts.version version
        from t_sys_store ts
        left join (select * from t_sys_user where is_deleted = 0) tu
            on ts.user_code = tu.user_code
        where ts.is_deleted = 0
        <if test="userName != null and userName != ''">
            and tu.user_name = #{userName}
        </if>
        <if test="storeId != null and storeId != ''">
            and ts.store_code = #{storeId}
        </if>
        <if test="storeName != null and storeName != ''">
            and ts.store_name = #{storeName}
        </if>
        <if test="licenseId != null and licenseId != ''">
            and ts.license_code = #{licenseId}
        </if>
        <if test="provinceId != null and provinceId != ''">
            and ts.province_code = #{provinceId}
        </if>
        <if test="cityId != null and cityId != ''">
            and ts.city_code = #{cityId}
        </if>
        <if test="countyId != null and countyId != ''">
            and ts.county_code = #{countyId}
        </if>
        <if test="role == 2">
            and ts.user_code = #{userId}
        </if>
        order by ts.create_time desc
    </select>

    <!-- 查询门店详情 -->
    <select id="findStoreById" resultType="com.xzsd.pc.store.entity.StoreVO">
        select
            ts.store_code storeId,
            ts.store_name storeName,
            ts.telephone storePhone,
            ts.user_code userId,
            ts.license_code licenseId,
            ts.invite_code inviteCode,
            tp.dic_code provinceId,
            tp.dic_name provinceName,
            tc.dic_code cityId,
            tc.dic_name cityName,
            ty.dic_code countyId,
            ty.dic_name countyName,
            ts.store_address detailAddress
        from t_sys_store ts
        left join t_sys_dictionary tp on ts.province_code = tp.dic_code
        left join t_sys_dictionary tc on ts.city_code = tc.dic_code
        left join t_sys_dictionary ty on ts.county_code = ty.dic_code
        where
            ts.is_deleted = 0
        and ts.store_code = #{storeId}
    </select>

    <!-- 查询省市区 -->
    <select id="listArea" resultType="com.xzsd.pc.store.entity.AreaVO">
        select
            dic_code areaId,
            dic_name areaName
        from t_sys_dictionary
        where is_deleted = 0
        and dic_type = 'AreaName'
        and parent_code = #{areaId}
    </select>

</mapper>