<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.user.dao.UserDao">

    <!--统计用户账号数-->
    <select id="countUserAcct" parameterType="com.xzsd.pc.user.entity.UserDO" resultType="int">
        select count(user_acct)
        from t_sys_user
        where is_deleted = 0
        and user_acct = #{userAcct}
        and user_code &lt;&gt; #{userId}
    </select>

    <!--新增用户-->
    <insert id="addUser" parameterType="com.xzsd.pc.user.entity.UserDO">
        insert into t_sys_user
            (user_code,
             user_name,
             user_acct,
             user_pwd,
             user_image_url,
             id_card,
             sex,
             phone,
             email,
             role,
             is_deleted,
             create_time,
             create_by,
             modify_time,
             modify_by,
             version)
        values
           (#{userId},
            #{userName},
            #{userAcct},
            #{userPwd},
            #{userImage},
            #{idCard},
            #{sex},
            #{phone},
            #{email},
            #{role},
            #{isDeleted},
            now(),
            #{createBy},
            now(),
            #{modifyBy},
            0)
    </insert>

    <!-- 删除用户 -->
    <update id="deleteUser" parameterType="com.xzsd.pc.user.entity.UserDO">
        update t_sys_user
        set
            is_deleted = 1,
            modify_time = now(),
            modify_by = #{userId},
            version = version+1
        where user_code in
        <foreach item="item" index="index" collection="listId" open="(" separator="," close=")">
            #{item}
        </foreach>
        and role &lt;&gt; 0
    </update>

    <!-- 修改用户-->
    <update id="updateUserById" parameterType="com.xzsd.pc.user.entity.UserDO">
        update t_sys_user
        set
        <if test="userName != null and userName != ''">
            user_name = #{userName},
        </if>
        <if test="userAcct != null and userAcct != ''">
            user_acct = #{userAcct},
        </if>
        <if test="userPwd != null and userPwd != ''">
            user_pwd = #{userPwd},
        </if>
        <if test="userImage != null and userImage != ''">
            user_image_url = #{userImage},
        </if>
        <if test="sex != null and sex != ''">
            sex = #{sex},
        </if>
        <if test="phone != null and phone != ''">
            phone = #{phone},
        </if>
        <if test="email != null and email != ''">
            email = #{email},
        </if>
        <if test="idCard != null and idCard != ''">
            id_card = #{idCard},
        </if>
        <if test="role != null and role != ''">
            role = #{role},
        </if>
            modify_by = #{modifyBy},
            modify_time = now(),
            version = version + 1
        where
            user_code = #{userId}
        and
            version = #{version}
    </update>

    <!-- 查询用户列表-->
    <select id="listUserByPage" parameterType="com.xzsd.pc.user.entity.UserDO" resultType="com.xzsd.pc.user.entity.UserVO">
        select
            user_code userId,
            user_name userName,
            user_acct userAcct,
            user_pwd userPwd,
            sex,
            phone,
            email,
            id_card idCard,
            role,
            version
        from t_sys_user
        where is_deleted = 0
        and (role = 1 or role = 2)
        <if test="userAcct != null and userAcct != ''">
            and user_acct like concat('%', #{userAcct}, '%')
        </if>
        <if test="userName != null and userName != ''">
            and user_name like concat('%', #{userName}, '%')
        </if>
        <if test="role != null and role != ''">
            and role = #{role}
        </if>
        order by create_time desc
    </select>

    <!--查询用户详情-->
    <select id="findUserById" parameterType="java.lang.String" resultType="com.xzsd.pc.user.entity.UserVO">
        select
            user_acct userAcct,
            user_name userName,
            sex,
            phone,
            email,
            id_card idCard,
            user_pwd userPwd,
            role,
            version
        from t_sys_user
        where user_code = #{userId}
        and is_deleted = 0
    </select>

    <!-- 顶部栏查询 -->
    <select id="getTopOfColumn" resultType="com.xzsd.pc.user.entity.UserVO">
        select
            user_code userId,
            user_name userName,
            user_image_url userImage,
            role
        from t_sys_user
        where user_code = #{userId}
        and is_deleted = 0
    </select>

</mapper>